@media (min-width: 768px) {

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        justify-content: space-around;
    }

    .container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}